.ForgotPassword_main{
    background-color:#171717;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ForgotPassword_main_arrange_width{
    /* background-color: brown; */
    width: 90%;
    max-width: 400px;
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.ForgotPassword_main_verify_email{
    /* background-color: darkcyan; */
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ForgotPassword_main_verify_email_top{
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
}
.ForgotPassword_main_verify_email_bottom{
    /* background-color: burlywood; */
    display: flex;
    flex-direction: column;
}
.forgot_password_input{
    background-color: #171717;
    padding: 10px 15px;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    font-size: 15px;
    color: #b2b2b2;
}
.forgot_password_input:focus{
    border-color: #2575fc;
    outline: none;
    box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}
.forgot_pass_btn{
    background-color: #402dcb;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.forgot_pass_btn:hover{
    box-shadow: 0px 0px 3px #4311cb;
}
.ForgotPassword_main_email_verify_error{
    /* background-color: red; */
    /* height: 25px; */
    display: flex;
    /* justify-content: center; */
    align-items: end;
    font-size: 12px;
    color: rgb(194, 22, 22);
    padding: 5px 10px 0px 10px;
}
#forgot_password_email_verify_error{
    border-color: #d809098d;
    outline: none;
    box-shadow: 0 0 6px rgba(252, 37, 37, 0.57);
}

/* update password css */

.ForgotPassword_main_update_password{
    /* background-color: darkgoldenrod; */
    width: 100%;
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 20px; */
}
.ForgotPassword_main_update_password_top{
    /* background-color: yellowgreen; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.ForgotPassword_main_update_password_bottom{
    /* background-color: #2575fc; */
    width: 100%;
    display: flex;
    flex-direction: column;
}   
.ForgotPassword_main_update_pass_error{
    /* background-color: darkblue; */
    display: flex;
    /* justify-content: center; */
    align-items: end;
    font-size: 12px;
    color: rgba(194, 22, 22, 0.912);
    padding: 5px 10px 25px 10px;
}
.forgot_pass_go_back{
    background-color: teal;
    padding-top: 25px;
}
.forgot_password_input::-webkit-inner-spin-button,
.forgot_password_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




.forgot_msg_show{
    /* background-color: #4d4d4d; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.forgot_msg_show p{
    font-size: 12px;
    color: #167c1b;
    text-align: center;
}

#forgot_loading_svg_icon{
    /* background-color: red; */
    animation: rotate 2s linear infinite;
    /* padding-top: 10px; */
    top: 5px;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
